<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <script src="_framework/blazor.web.js"></script>
</head>
<body>
    <!-- Blazor content will be rendered here for interactive components -->
</body>
</html>